<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Set Password | Hospital Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
         >
</head>
<body>
<!-- <nav class="navbar navbar-light"  style="background-color:#1ac6fb;"> -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1ac6fb;">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Hospital Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" th:href="@{/patient/register}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />

   
   
   	<div class="alert alert-danger" role="alert" th:text="${nullError}" th:if="${nullError}"></div>
 	<div class="alert alert-danger" role="alert" th:text="${notSameError}" th:if="${notSameError}"></div>      
 	   	<div class="alert alert-danger" role="alert" th:text="${notMatchError}" th:if="${notMatchError}"></div>
<div class="container">
   
                     
                   
    <div class="row">
   
                
         <div class="col">
                           <img alt="" class="img-thumbnail" src="https://png.pngtree.com/png-clipart/20210308/original/pngtree-original-doctor-icon-vector-material-png-image_5763703.jpg">                        
         
        
          </div>
          
        <div class="col">

         
            <div class="card">
                <div class="card-header">
                
                    <h2 class="text-center">Set Password</h2>
                <hr/>
                <div class="card-body">
                
                    <form
                        method="post"
                        role="form"
                       th:action="@{/patient/submit}"
                	 	th:object="${patient}"
                        class="form-horizontal"
                    >
                   Mob No.
                <p th:text="${patient.mobNo}"></p> 
                	<div class="form-group mb-3">
 						 <label class="control-label">Password Requirements : </label>
 						 <br/>
 						 <small>A digit must occur at least once</small><br/>
 						 <small>A lower case letter must occur at least once</small><br/>
 						 <small>An upper case letter must occur at least once</small><br/>
 						 <small>A special character must occur at least once</small><br/>
 						 <small>No whitespace allowed in the entire string</small><br/>
 						 <small>At least 8 characters</small><br/>
 						</div>
            		    <div class="form-group mb-3">
                            <label class="control-label"> Password</label>
                            <input
                                    type="password"
                                      

                                    class="form-control"
                                   name="password1"
                                    placeholder="Enter password"
                            />
                        </div> 
 					
                        <div class="form-group mb-3">
                            <label class="control-label"> Confirm Password</label>
                            <input
                                    type="password"
                                   
                                   
                                    class="form-control"
                                    name="password2"
                                    placeholder="Enter password"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                            <span> Not registered ?
                                <a th:href="@{/patient/register}">
                                Register/Signup here</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
<!-- ${emailData.emailSubject} -->
</html>